<h1>Lista tematów</h1>

<p>
  {{link-to "Nowy temat" "topics.new" }}
</p>

{{#if model.length}}
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>
          Temat
        </th>
        <th>
          Głosy
        </th>
        <th>
          Akcje
        </th>
      </tr>
    </thead>
    <tbody class="table-striped">
      {{#each model as |topic|}}
        <tr>
          <td>
            {{topic.value}}
          </td>
          <td>
            {{star-rating topic.meanVote
              onClick=(action (route-action "updateVote" topic))}} / {{topic.numberOfVotes}}
          </td>
          <td>
            {{link-to "Edytuj" "topics.edit" topic}}
            {{link-to "Pokaż" "topics.show" topic}}
            <a href="#" {{action "remove" topic}}>Usuń</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p id="blankslate">
    Nie dodano jeszczez żadnych tematów :(
  </p>
{{/if}}