<p>
  {{link-to "Project list" "projects.index" }}
</p>

<h1>Project show</h1>

<p>
  <strong>Name:</strong>
  <span>{{model.name}}</span>
</p>

<p>
  <strong>Team:</strong>
  <span>{{model.team}}</span>
</p>

<p>
  <strong>Comments:</strong>
  <span>{{model.comments}}</span>
</p>

<p>
  <strong>Votes:</strong>
  <span>{{model.votes}}</span>
</p>

<p>
  <strong>Tags:</strong>
  <span>{{model.tags}}</span>
</p>

<p>
  <strong>Songproject:</strong>
  <span>{{model.songProject}}</span>
</p>

<p>
  <strong>Dubbingproject:</strong>
  <span>{{model.dubbingProject}}</span>
</p>

<p>
  <strong>Otherproject:</strong>
  <span>{{model.otherProject}}</span>
</p>

