<h1>Lista bitew</h1>

{{#if model.length}}
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>
          Drużyny
        </th>
        <th>
          Temat
        </th>
        <th>
          Głosy
        </th>
        <th>
          Status bitwy
        </th>
        <th>
          Timetable
        </th>
        <th>
          Akcje
        </th>
      </tr>
    </thead>
    <tbody class="table-striped">
      {{#each model as |battle|}}
        <tr>
          <td>
            {{#each battle.projects as |project|}}<p>{{#link-to 'projects.show' project}}{{get project team}}{{/link-to}}</p>{{/each}}
          </td>
          <td>
            {{#let (get battle topic) as |topic|}}
              {{topic.value}}
            {{/let}}
          </td>
          <td>
            {{#each battle.projects as |project|}}<p>{{project.votes.length}}</p>{{/each}}
          </td>
          <td>
            {{battle.battleStatus}}
          </td>
          <td>
            {{battle.timetable}}
          </td>
          <td>
            {{link-to "Show" "battles.show" battle}}
            <a href="#" {{action "remove" battle}}>Remove</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p id="blankslate">
    Nie znaleziono żadnych bitew.
  </p>
{{/if}}
