<h1>Lista bitew</h1>

{{#if model.length}}
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>
          Drużyny
        </th>
        <th>
          Temat
        </th>
        <th>
          Głosy
        </th>
        <th>
          Status bitwy
        </th>
        <th>
          Termin
        </th>
        <th>
          Akcje
        </th>
      </tr>
    </thead>
    <tbody class="table-striped">
      {{#each model as |battle|}}
        <tr>
          <td>
            {{#each battle.teams as |team|}}<p>{{#link-to 'teams.show' team}}{{team.name}}{{/link-to}}</p>{{else}}brak{{/each}}
          </td>
          <td>
            {{get battle 'topic.value'}}
          </td>
          <td>
            {{#each battle.projects as |project|}}<p>{{project.votes.length}}</p>{{/each}}
          </td>
          <td>
            {{battle.battleStatus}}
          </td>
          <td>

          </td>
          <td>
            {{link-to "Show" "battles.show" battle class="btn btn-outline-primary"}}
            <a href="#" class="btn btn-outline-primary" {{action "remove" battle}}>Remove</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p id="blankslate">
    Nie znaleziono żadnych bitew.
  </p>
{{/if}}
