<p>
  {{link-to "Battle list" "battles.index" }}
</p>

<h1>Battle show</h1>

<p>
  <strong>Teams:</strong>
  <span>{{model.teams}}</span>
</p>

<p>
  <strong>Projects:</strong>
  <span>{{model.projects}}</span>
</p>

<p>
  <strong>Topic:</strong>
  <span>{{model.topic}}</span>
</p>

<p>
  <strong>Votes:</strong>
  <span>{{model.votes}}</span>
</p>

<p>
  <strong>Comments:</strong>
  <span>{{model.comments}}</span>
</p>

<p>
  <strong>Tags:</strong>
  <span>{{model.tags}}</span>
</p>

<p>
  <strong>Battlestatus:</strong>
  <span>{{model.battleStatus}}</span>
</p>

<p>
  <strong>Timetable:</strong>
  <span>{{model.timetable}}</span>
</p>

